.box{
    border: 2px solid black;
    display: flex;
   width: 100px;
   height: 30px;
   justify-content: center;
   align-items: center;
   border-radius: 5px;
}
 .horizontal{
    display: flex;
    gap: 20px;
    flex-direction: row;

 }
 th,td{
    padding: 10px 20px;
    
 }
body{
   margin: 10px;
}
table{
   margin: 10px;
}